/*-----------------------------general-----------------------------------*/
footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
body{
  font-family: 'Open Sans Condensed', sans-serif;
  background: #24C6DC;
background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);
background: linear-gradient(to right, #514A9D, #24C6DC);
    -webkit-transition:.5s;
  transition:.5s;
}
/*-----------------------------buttons-----------------------------------*/

.button{
  left:50%;
  top:50%;
  -webkit-transform:scale(1);
  -ms-transform:scale(1);
  transform:scale(1);
  padding:15px 35px;
  border:1px solid #24C6DC;
  border-radius:50px;
  background:transparent;
  cursor:pointer;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:1.2em;
  color:#fff;
  -webkit-transition:.5s;
  transition:.5s;
}

.button:focus{
  outline:none;
}


.button:hover{
    -webkit-transform:scale(1.2);
  ransform:scale(1.2);
  background:#24C6DC;
  -moz-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
-webkit-box-shadow: 0px 0px 20px rgba(56,56,56,.2);
box-shadow: 0px 0px 20px rgba(56,56,56,.2);
}


/*-----------------------------menu-----------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Raleway);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu {
  width: auto;
  border-bottom: 3px solid #47c9af;
  font-family: Raleway, sans-serif;
  line-height: 1;
}
#cssmenu > ul > li {
  float: left;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right > ul > li > a {
  margin-right: 0;
  margin-left: -4px;
}
#cssmenu > ul > li > a {
  z-index: 2;
  padding: 18px 25px 7px 25px;
  font-size: 20px;
  /* font-weight: bold; */
  font-style: italic;
  font-family: Apple Chancery, cursive;
  text-decoration: none;
  color: black;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  margin-right: -4px;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover {
  color: #ffffff;
}
#cssmenu > ul > li > a:after {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 80%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  content: "";
  -webkit-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: perspective(5px) rotateX(2deg);
  -webkit-transform-origin: bottom;
  -moz-transform: perspective(5px) rotateX(2deg);
  -moz-transform-origin: bottom;
  transform: perspective(5px) rotateX(2deg);
  transform-origin: bottom;
}
#cssmenu > ul > li.active > a:after,
#cssmenu > ul > li:hover > a:after,
#cssmenu > ul > li > a:hover:after {
  background: #47c9af;
}

#cssmenu ul li
{
padding-left: 13%;
} 

/*-----------------------------form-----------------------------------*/
form 
{
  border: 3px solid #f1f1f1;
  width: 40%;
}


input[type=password] {
  /* width: 40%; */
  /* padding: 5px 20px; */
  margin: 2px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.container {
  padding: 16px;
}

span.psw {
  float: left;
  padding-top: 16px;
}


/*----------------------------About---------------------------------*/

/* *{
  margin:0;
  padding:0;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
} */

/*-----------------------------pacman-gif-------------------------------------*/

.pacman{
  margin: 0px 0px;
  padding-left: 7%;
    padding-top: 0.4%;
}

.pacman-top{
  background-color:yellow;
  height:20px;
  width:40px;
  border-radius:100px 100px 0 0;
  animation: spin1 0.5s infinite linear;
}

.pacman-bottom{
background-color:yellow;
  height:20px;
  width:40px;
  border-radius:0 0 100px 100px;
  animation: spin2 0.5s infinite linear;
}

.feed {
margin-top: -85px;
margin-left:15px;
width: 5px;
height: 5px;
border-radius: 30%;
-moz-animation: eat 1s linear 0s infinite;
-webkit-animation: eat 1s linear 0s infinite;
animation: eat 1s linear 0s infinite;
}   

/* Animation*/

@keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-moz-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-moz-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@-webkit-keyframes spin1 {
	0%  {transform: rotate(0deg);}
	50%{transform: rotate(-35deg);}
  
}
@-webkit-keyframes spin2 {
	0%  {transform: rotate(0deg);}
  50%{transform: rotate(35deg);}	
}

@keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white,
      300px 65px 0 0 white, 
      500px 65px 0 0 white;}
  
100% { box-shadow:
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white;}
}



@-moz-keyframes eat {
	0% { box-shadow:
      100px 65px 0 0 white,
      300px 65px 0 0 white,
      500px 65px 0 0 white;}
  
100% { box-shadow:
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white;}
}



@-webkit-keyframes eat {
	0% { box-shadow: 
      100px 65px 0 0 white, 
      300px 65px 0 0 white, 
      500px 65px 0 0 white;}
  
100% { box-shadow:
      0px 65px 0 0 white, 
      100px 65px 0 0 white,
      300px 65px 0 0 white;}
}

/*------------------------------------canvas-------------------------------------*/
#canvas {

  height: 500px;
  width: 500px;
  border: 1px solid black;
}   

